@model ProductCategoryViewModel
<header>
    <div class="describe">
        <h3>Live Auction</h3>
        <ul class="breadcrumb">
            <li><a href="../FinalProjectFull/index.html">Home</a></li>
            <li>Auctions</li>
        </ul>
    </div>
</header>
<section id="view">
    <div class="container">
        <div class="myBtnContainer col-3">
            <div class="dropdown">
                <div class="select">
                    <span>Category</span> 
                </div>
                <input type="hidden" />
                <ul class="dropdown-menu">
                    <a href="/Products"><li id="all" data-cat-source="all">All</li></a>
                    @foreach (Category item in Model.Categories)
                    {
                        <a href="/Category/@item.Id/Products">
                        <li id="@item.Id" data-cat-source="@item.Name">
                            @item.Name
                        </li>
                        </a>
                    }
                </ul>
            </div>
        </div>


        <div class="row">
            @foreach (Product item in Model.Products)
            {
                <div class="portfolio-block col-4" id="watch">
                    <div class="auc-item mb-4">
                        <div class="auc-img">
                            <img src="/img/@item.Image"
                                 style="width: 100%" />
                            <div class="cooldown">
                                <ul data-countdown="@item.EndDate">
                                    <li data-days="00">00</li>
                                    <li data-hours="00">00</li>
                                    <li data-minuts="00">00</li>
                                    <li data-seconds="00">00</li>
                                </ul>
                            </div>
                            <div class="author-area">
                                <div class="author-emo">
                                    <img src="~/img/@item.AppUser.ProfilePhoto" />
                                </div>
                                <div class="author-name">
                                    <span>by @item.AppUser</span>
                                </div>
                            </div>
                        </div>
                        <div class="auc-text">
                            <h4>@item.Name</h4>
                            <p class="price">Bidding Price : <span>$@item.Prise</span></p>
                            <p class="bid">
                                <a href="/Product/@item.Id">Place A Bid</a>
                            </p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
